# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Qt / PySide
*.qmlc
*.jsc

# Build & Distribution
build/
dist/
*.spec

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
